<div class="w-100 bg-light" *ngIf="theme | async as t">
  <div class="w-100 welcome p-4 pt-4" [style.backgroundColor]="t.primaryColor">
    <h3
      [ngStyle]="t.textWhite ? { color: 'white' } : { color: 'black' }"
      class="mt-2"
    >
      Dashboard
    </h3>
    <p [ngStyle]="t.textWhite ? { color: 'white' } : { color: 'black' }">
      Welcome to the
      <span [style.color]="t.accentColor">general</span> dashboard.
    </p>
    <p [ngStyle]="t.textWhite ? { color: 'white' } : { color: 'black' }">
      Here you can find a bunch of useful and intersting information.
    </p>
  </div>
  <div class="container mt-5">
    <div class="row">
      <iframe
        src="https://datastudio.google.com/embed/reporting/24a5088b-70af-49f9-a519-49b2350a99e3/page/ZatlC"
        frameborder="0"
        style="border: 0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
