<div
  class="d-flex align-items-center container justify-content-center bg-pattern"
>
  <div class="mx-auto w-25 bg-white register-box">
    <div class="row">
      <div class="col-12 justify-content-center d-flex">
        <div class="animation-bg"></div>
        <div class="animation">
          <ng-lottie
            class="animationItem"
            [options]="profile"
            (animationCreated)="animationCreated($event)"
            (complete)="onAnimationEnd()"
          ></ng-lottie>
        </div>
      </div>
      <div class="col-12 form-div">
        <form (ngSubmit)="submit()" #signupForm="ngForm" class="p-2 px-4">
          <div class="form-row py-2">
            <div class="col">
              <label for="firstname">First name</label>
              <input
                type="text"
                required
                id="firstname"
                name="firstname"
                class="form-control"
                [(ngModel)]="user.firstName"
              />
            </div>
            <div class="col">
              <label for="lastname">Last Name</label>
              <input
                type="text"
                [(ngModel)]="user.lastName"
                id="lastname"
                name="lastname"
                required
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group py-2">
            <label for="email">Email</label>
            <input
              type="email"
              [(ngModel)]="user.email"
              required
              id="email"
              name="email"
              class="form-control"
            />
          </div>
          <div class="form-group py-2">
            <label for="password">Password</label>
            <input
              [(ngModel)]="user.password"
              id="password"
              name="password"
              type="password"
              class="form-control"
              required
            />
          </div>
          <div class="form-group py-2">
            <label for="confirm-password">Confirm password</label>
            <input
              required
              [(ngModel)]="confirmPassword"
              id="confirm-password"
              name="confirm-password"
              type="password"
              class="form-control"
            />
          </div>
          <input
            [disabled]="!signupForm.form.valid || submitted"
            type="submit"
            class="btn btn-rd-green w-100 rounded"
            value="Sign up"
          />
        </form>
        <div class="px-4 float-right pb-2">
          <small
            >Already have an account?
            <a
              routerLink="/login"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Login</a
            ></small
          >
        </div>
      </div>
    </div>
  </div>
</div>
