<div
  class="w-100 welcome p-4 pt-4"
  [style.backgroundColor]="t.primaryColor"
  *ngIf="theme | async as t"
>
  <h3
    class="mt-2"
    [ngStyle]="t.textWhite ? { color: 'white' } : { color: 'black' }"
  >
    Admin
  </h3>
  <p [ngStyle]="t.textWhite ? { color: 'white' } : { color: 'black' }">
    Welcome to the
    <span [style.color]="t.accentColor">admin</span> page.
  </p>
  <p [ngStyle]="t.textWhite ? { color: 'white' } : { color: 'black' }">
    Here you can find and manage a bunch of useful and interesting information.
  </p>
</div>

<div class="container" *ngIf="theme | async as t">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="card mx-auto">
        <div class="w-50">
          <ng-lottie
            [options]="painting"
            (animationCreated)="animationCreated($event)"
          ></ng-lottie>
        </div>
        <div class="w-50 text-center">
          <h3 class="text-center">{{ countThemes }}</h3>
          <p class="alt-text">Themes created</p>
          <a
            [style.color]="t.accentColor"
            class="float-right details-text pr-4"
            routerLink="/settings/themes"
          >
            Details <i class="fas fa-long-arrow-alt-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="card mx-auto">
        <div class="w-50">
          <ng-lottie
            [options]="users"
            (animationCreated)="animationCreated($event)"
          ></ng-lottie>
        </div>
        <div class="w-50 text-center">
          <h3 class="text-center">{{ countUsers }}</h3>
          <p class="alt-text">Users created</p>

          <a
            routerLink="/settings/users"
            [style.color]="t.accentColor"
            class="float-right details-text pr-4"
          >
            Details <i class="fas fa-long-arrow-alt-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- <div class="mx-auto">
        <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
          <ng-container matColumnDef="datetime">
            <th mat-header-cell *matHeaderCellDef>Date and time</th>
            <td mat-cell *matCellDef="let element">
              {{ element.created_at.toLocalDateString() }}
            </td>
          </ng-container>
          <ng-container matColumnDef="account">
            <th mat-header-cell *matHeaderCellDef>Account</th>
            <td mat-cell *matCellDef="let element">
              {{ element.user }}
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [length]="100"
          [pageSize]="5"
          [pageSizeOptions]="[5, 5, 25, 100]"
          aria-label="Select page"
          [hidePageSize]="true"
        >
        </mat-paginator>
      </div> -->
    </div>
  </div>
</div>
