<div
  class="d-flex align-items-center container justify-content-center bg-pattern"
>
  <div class="w-sm-75 w-md-50 mx-auto bg-white login-box">
    <div class="row">
      <div class="col-md-6 col-sm-12 d-md-block">
        <ng-lottie
          [options]="working"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
      </div>
      <div class="col-md-6 col-sm-12 d-flex flex-column justify-content-center">
        <form class="w-md-50 p-2 w-sm-75">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              id="password"
              name="password"
              type="text"
              class="form-control"
            />
            <a href="" class="small">Forgot password</a>
          </div>
          <input
            type="submit"
            class="btn btn-rd-green w-100 rounded"
            value="Login"
          />
        </form>
      </div>
    </div>
  </div>
</div>
