<div
  class="d-flex align-items-center container justify-content-center m-0 p-0 bg-pattern"
>
  <div class="mx-auto bg-white login-box">
    <div class="row">
      <div class="col-md-6 col-sm-12 d-md-block">
        <ng-lottie
          [options]="working"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
      </div>
      <div class="col-md-6 col-sm-12 d-flex flex-column justify-content-center">
        <form (ngSubmit)="submitted()" #loginForm="ngForm" class="p-2 px-4">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              email
              name="email"
              [(ngModel)]="user.email"
              required
              id="email"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              id="password"
              name="password"
              type="password"
              required
              [(ngModel)]="user.password"
              class="form-control"
            />
            <a href="" class="small">Forgot password</a>
          </div>
          <input
            type="submit"
            class="btn btn-rd-green w-100 rounded"
            value="Login"
            [disabled]="!loginForm.form.valid || isSubmitted"
          />
        </form>
        <div class="w-100 px-4">
          <small class="float-right"
            ><a
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/signup"
              >Create new account.</a
            ></small
          >
        </div>
      </div>
    </div>
  </div>
</div>
