<div class="w-50 mx-auto pt-5">
  <form (ngSubmit)="onSubmit()" class="p-4" [formGroup]="userForm">
    <div class="form-row">
      <div class="form-group col">
        <label for="firstName">First Name</label>
        <input
          type="text"
          required
          class="form-control"
          formControlName="firstName"
          id="firstName"
        />
      </div>
      <div class="form-group col">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          formControlName="lastName"
          required
          class="form-control"
          id="lastName"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        formControlName="email"
        required
        class="form-control"
        id="email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="password"
      />
      <small class="small" *ngIf="isEdit"
        >Only fill this in if you want to edit the existing password!</small
      >
    </div>
    <p class="m-0"><label for="isAdmin">Admin</label></p>
    <div>
      <mat-slide-toggle formControlName="userLevel"></mat-slide-toggle>
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-2"
      *ngIf="isAdd"
      [disabled]="!userForm.valid || isSubmitted"
    >
      Add
    </button>
    <button
      type="submit"
      class="btn btn-primary mt-2"
      *ngIf="isEdit"
      [disabled]="!userForm.valid || isSubmitted"
    >
      Save
    </button>
  </form>
</div>
