<mat-sidenav-container
  *ngIf="theme | async as t"
  mode="over"
  class="example-container"
>
  <mat-sidenav
    *ngIf="!disabledLeft"
    class="left-sidenav"
    #sidenavStart
    mode="side"
    [(opened)]="opened"
  >
    <div class="d-flex flex-column wrapper h-100">
      <div class="logo-div mt-3">
        <img src="{{ t.logoUrl }}" alt="logo" />
      </div>
      <div
        class="d-flex flex-column justify-content-around mt-5 nav-items align-items-center"
      >
        <a
          #dashboard
          routerLinkActive="active"
          routerLink="/dashboard"
          class="d-flex nav-item my-4 align-items-center justify-content-start"
        >
          <div class="pr-4">
            <i
              class="fas fa-th-large fa-2x nav-icon"
              [ngStyle]="dashboardActive ? { color: t.accentColor } : {}"
            ></i>
          </div>
          <div class="nav-text">Dashboard</div>
        </a>
        <a
          #parking
          routerLinkActive="active"
          routerLink="/parking"
          class="d-flex nav-item my-4 align-items-center justify-content-start"
        >
          <div class="pr-4">
            <i
              [ngStyle]="parkingActive ? { color: t.accentColor } : {}"
              class="fas fa-parking fa-2x nav-icon"
            ></i>
          </div>
          <div class="nav-text">Parking</div>
        </a>
        <div
          class="d-flex nav-item my-4 align-items-center justify-content-start"
        >
          <div class="pr-4"><i class="fas fa-clock fa-2x nav-icon"></i></div>
          <div class="nav-text">Reserve</div>
        </div>
        <a
          #settings
          *ngIf="this.authService.isAdmin()"
          routerLinkActive="active"
          routerLink="/settings"
          class="d-flex nav-item my-4 align-items-center justify-content-start"
        >
          <div class="pr-4">
            <i
              class="fas fa-cog fa-2x nav-icon"
              [ngStyle]="settingsActive ? { color: t.accentColor } : {}"
            ></i>
          </div>
          <div class="nav-text">Settings</div>
        </a>
      </div>
      <div
        class="logout"
        [style.borderTop]="'6px solid ' + t.accentColor"
        (click)="logOut()"
      >
        <div
          class="logout-text"
          [style.borderRight]="'4px solid ' + t.accentColor"
        >
          Sign out
        </div>
        <i class="fas fa-sign-out-alt fa-2x logout-icon"></i>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav
    *ngIf="!disabledRight"
    class="right-sidenav"
    #sidenavEnd
    mode="side"
    [(opened)]="openedNav2"
    position="end"
  >
    <div class="w-100 mt-3 px-2">
      <h3
        [style.borderBottom]="'5px solid ' + t.accentColor"
        class="filter-title"
      >
        Filter
      </h3>
    </div>
    <div class="d-flex filter-days">
      <div class="filter-active" [style.backgroundColor]="t.accentColor">
        <p [ngStyle]="t.textWhite ? { color: 'white' } : { color: 'black' }">
          All time
        </p>
      </div>
      <div [style.backgroundColor]="t.accentColor">
        <p [ngStyle]="t.textWhite ? { color: 'white' } : { color: 'black' }">
          90 Days
        </p>
      </div>
      <div [style.backgroundColor]="t.accentColor">
        <p [ngStyle]="t.textWhite ? { color: 'white' } : { color: 'black' }">
          30 Days
        </p>
      </div>
    </div>
    <div class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </div>
    <div class="w-100">
      <button
        class="btn float-left"
        [ngStyle]="t.textWhite ? { color: 'white' } : { color: 'black' }"
        [style.backgroundColor]="t.accentColor"
        (click)="clearDate()"
      >
        clear date
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="mat-content">
    <div
      *ngIf="!hideBars"
      class="toggle d-xs-block d-sm-block d-md-none"
      (click)="toggle()"
    >
      <i class="fas fa-bars"></i>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="loading" *ngIf="!theme">
  <div>
    <p class="text-center"><i class="fas fa-circle-notch fa-spin"></i></p>
    <p>Loading...</p>
  </div>
</div>
